<div>
    <div class="toggle-button-container toggle-button-no-selection">
        <div>
            <smart-toggle-button><i class="material-icons">format_align_left</i></smart-toggle-button>
            <smart-toggle-button><i class="material-icons">format_align_center</i></smart-toggle-button>
            <smart-toggle-button><i class="material-icons">format_align_right</i></smart-toggle-button>
            <smart-toggle-button><i class="material-icons">format_align_justify</i></smart-toggle-button>
        </div>
    </div>
    <p>No options are selected</p>

    <div class="toggle-button-container toggle-button-multiple-selection">
        <div>
            <smart-toggle-button checked><i class="material-icons">format_bold</i></smart-toggle-button>
            <smart-toggle-button checked><i class="material-icons">format_italic</i></smart-toggle-button>
            <smart-toggle-button checked><i class="material-icons">format_underlined</i></smart-toggle-button>
            <smart-toggle-button><i class="material-icons">format_color_fill</i> <i
                    class="material-icons">arrow_drop_down</i></smart-toggle-button>
        </div>
    </div>
    <p>Multiple selection</p>
    <p>Logically-grouped options, like Bold, Italic, and Underline, allow multiple options to be selected.</p>
</div>