<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)

    <environment names="Development, Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link href="~/jqwidgets/styles/jqx.base.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.arctic.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.black.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.metro.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.light.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.fresh.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.energyblue.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.highcontrast.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.dark.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.bootstrap.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.shinyblack.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.office.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.metrodark.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.darkblue.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.classic.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.web.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-lightness.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-darkness.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-overcast.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-le-frog.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-redmond.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-redmond.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-smoothness.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-sunny.css" rel="stylesheet" />
        <link href="~/jqwidgets/styles/jqx.ui-start.css" rel="stylesheet" />

        <script src="http://modernizr.com/downloads/modernizr-latest.js"></script>

        <script src="~/jqwidgets/jqx-all.js"></script>
     
        <script src="~/jqwidgets/globalization/globalize.js"></script>
		<style>
			.container {
				margin: 0px;
				margin-top:30px;
			}
		</style>

    </environment>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer></footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
