<div #jqxWidget style="font-size: 13px; font-family: Verdana; float: left;">
  <div style='margin-top: 10px;'>
    Numeric
  </div>
  <jqxMaskedInput [theme]="'material'" #numericInput
                  [rtl]="true"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
  <div style='margin-top: 10px;'>
    Zip Code
  </div>
  <jqxMaskedInput [theme]="'material'" #zipCodeInput
                  [mask]="'#####-####'"
                  [rtl]="true"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
  <div style='margin-top: 10px;'>
    SSN
  </div>
  <jqxMaskedInput [theme]="'material'" #ssnInput
                  [mask]="'###-##-####'"
                  [rtl]="true"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
  <div style='margin-top: 10px;'>
    Date
  </div>
  <jqxMaskedInput [theme]="'material'" #dateInput
                  [mask]="'##/##/####'"
                  [rtl]="true"
                  [width]="250"
                  [height]="25">
  </jqxMaskedInput>
</div>