<div style="font-size: 13px; font-family: Verdana; float: left; width: 100%;">

    <jqxGrid [theme]="'material'" #myGrid
        [width]="getWidth()" [source]="dataAdapter" [columns]="columns" [selectionmode]="'multiplecellsadvanced'">
    </jqxGrid>

    <div>
        
        <h3>Alignment</h3>

        <jqxRadioButton [theme]="'material'" (onChecked)="leftBtnOnChecked()">Left</jqxRadioButton>

        <jqxRadioButton [theme]="'material'" (onChecked)="centerBtnOnChecked()" [checked]="true">Center</jqxRadioButton>

        <jqxRadioButton [theme]="'material'" (onChecked)="rightBtnOnChecked()">Right</jqxRadioButton>

    </div>

</div>
