<div>Default</div>
<jqxDateTimeInput 
    [width]="300" [height]="30"
    [showTimeButton]="true" [template]="'default'">
</jqxDateTimeInput>
<br />

<div>Primary</div>
<jqxDateTimeInput 
    [width]="300" [height]="30"
    [showTimeButton]="true" [template]="'primary'">
</jqxDateTimeInput>
<br />

<div>Success</div>
<jqxDateTimeInput 
    [width]="300" [height]="30"
    [showTimeButton]="true" [template]="'success'">
</jqxDateTimeInput>
<br />

<div>Info</div>
<jqxDateTimeInput 
    [width]="300" [height]="30"
    [showTimeButton]="true" [template]="'info'">
</jqxDateTimeInput>
<br />

<div>Warning</div>
<jqxDateTimeInput
    [width]="300" [height]="30"
    [showTimeButton]="true" [template]="'warning'">
</jqxDateTimeInput>
<br />

<div>Danger</div>
<jqxDateTimeInput 
    [width]="300" [height]="30"
    [showTimeButton]="true" [template]="'danger'">
</jqxDateTimeInput>