<div style="position: relative; height: 380px">

    <jqxGauge #myGauge
        [animationDuration]="1500"
        [ranges]="ranges" [cap]="cap" [border]="border" 
        [ticksMinor]="ticksMinor" [ticksMajor]="ticksMajor"
        [labels]="labels" [pointer]="pointer">
    </jqxGauge>

    <jqxSlider #mySlider style="position: absolute; top: 250px; left: 93px"
        (onChange)="mySliderOnChange()"
        [width]="180" [value]="120" [min]="0" [max]="220"
        [ticksFrequency]="20" [mode]="'fixed'" [showButtons]="false">
    </jqxSlider>

</div>