<jqxGrid #myGrid (onPagechanged)="onPageChanged($event)" (onPagesizechanged)="onPageSizeChanged($event)"
    [width]="getWidth()" [source]="dataAdapter" [columns]="columns"
    [pageable]="true" [sortable]="true" [columnsresize]="true"
    [autoheight]="true" [selectionmode]="'multiplerowsextended'">
</jqxGrid>

<div #eventsLog style="display: none; margin-top: 30px;">
    <div style="float: left;">
        Event Log:

        <jqxPanel #myPanel [width]="300" [height]="300"></jqxPanel>
    </div>
    <div style="float: left;">
        Paging Details:
        <div #pagingInfo></div>
    </div>
</div>