html, body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.jqx-tree-grid-icon, .jqx-tree-grid-icon-size {
  width: 40px;
  height: 40px;
}

.jqx-tree-grid-title, .jqx-tree-grid-collapse-button, .jqx-tree-grid-expand-button {
  height: 30px;
  line-height: 40px;
}