<script src="~/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqxscrollbar.js"></script>

@using jQWidgets.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ASP .NET MVC ScrollBar Example";

    List<KeyValuePair<string, object>> settings = new List<KeyValuePair<string, object>>()
    {
        new KeyValuePair<string, object>("width", 450),
        new KeyValuePair<string, object>("height", 18),
        new KeyValuePair<string, object>("min", 0),
        new KeyValuePair<string, object>("max", 10000),
        new KeyValuePair<string, object>("theme", ViewData["Theme"])
    };
}
<script>
    function valueChanged(event) {
        $("#log").html("Horizontal (" + parseInt(event.currentValue) + ")");
    }
</script>
<jqx-scroll-bar on-valueChanged="valueChanged()" settings="settings" ></jqx-scroll-bar>
<br /><br />
<div id="log"></div>