@{
    ViewData["Title"] = "ASP .NET MVC Calendar Example";
}
<label>ASP .NET Core MVC Calendar Tag Helper Example</label><br/><br/>
<jqx-calendar theme="@ViewData["Theme"]" width="200" height="200" ></jqx-calendar>
