<jqxChart style="float: left"
    [width]="400" [height]="250"
    [title]="''"
    [description]="charts[0].title"
    [showLegend]="true" [enableAnimations]="false" [padding]="padding"
    [titlePadding]="titlePadding" [source]="charts[0].dataSource" [showBorderLine]="true" 
    [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
</jqxChart>

<jqxChart style="float: left"
    [width]="400" [height]="250"
    [title]="''"
    [description]="charts[1].title"
    [showLegend]="true" [enableAnimations]="false" [padding]="padding"
    [titlePadding]="titlePadding" [source]="charts[1].dataSource" [showBorderLine]="true"
    [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
</jqxChart>


<jqxChart style="float: left"
    [width]="400" [height]="250"
    [title]="''"
    [description]="charts[2].title"
    [showLegend]="true" [enableAnimations]="false" [padding]="padding"
    [titlePadding]="titlePadding" [source]="charts[2].dataSource" [showBorderLine]="true"
    [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
</jqxChart>

<jqxChart style="float: left"
    [width]="400" [height]="250"
    [title]="''"
    [description]="charts[3].title"
    [showLegend]="true" [enableAnimations]="false" [padding]="padding"
    [titlePadding]="titlePadding" [source]="charts[3].dataSource" [showBorderLine]="true"
    [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
</jqxChart>
