@using jQWidgets.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ASP .NET MVC ProgressBar Example";
}
<label>ASP .NET Core MVC ProgressBar Tag Helper Example</label><br/><br/>
<jqx-progressbar id="toolbar" theme="@ViewData["theme"]" value="50" width="300" height="35"></jqx-progressbar>