<jqxSlider #jqxSlider
             [ticksFrequency]="1"
             [width]="300"
             [mode]="'fixed'">
</jqxSlider>
<div style="font-family: Verdana; font-size: 12px; width: 400px; margin-left: 20px; float: left;">
  <ul>
    <li><b>Tab</b> - Like other widgets, the jqxSlider widget receives focus by tabbing into it. Once focus is received, users will be able to use the keyboard to change the slider's value. A second tab will take the user out of the widget.</li>
    <li><b>Shift+Tab</b> - reverses the direction of the tab order. Once in the widget, a Shift+Tab will take the user to the previous focusable element in the tab order.</li>
    <li><b>Right Arrow</b> and <b>Up Arrow</b> - increase the value of the slider.</li>
    <li><b>Left Arrow</b> and <b>Down Arrow</b> - decrease the value of the slider.</li>
    <li><b>Home</b> - move to the minimum value of the slider.</li>
    <li><b>End</b> - move to the maximum value of the slider.</li>
  </ul>
</div>