<table>
  <tr>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'topLeft'">Top Left</jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'top'">Top</jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'topRight'">Top Right</jqxButton>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'left'">Left</jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'center'">Center</jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'right'">Right</jqxButton>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'bottomLeft'">Bottom Left</jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'bottom'">Bottom</jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [textPosition]="'bottomRight'">Bottom Left</jqxButton>
    </td>
  </tr>
</table>