<jqxGrid #myGrid (onContextmenu)="myGridOnContextMenu()" (onRowclick)="myGridOnRowClick($event)"
    [width]="getWidth()" [source]="dataAdapter" [pageable]="true"
    [autoheight]="true" [columns]="columns">
</jqxGrid>

<div style="margin-top: 30px">
    <div id='cellbegineditevent'></div>
    <div style="margin-top: 10px" id='cellendeditevent'></div>
</div>

<jqxWindow #myWindow
    [width]="250" [height]="230" [modalOpacity]="'0.01'" 
    [resizable]="false" [isModal]="true" [autoOpen]="false"> 
    <div>Edit</div>
    <div style="overflow: hidden">
        <table>
            <tbody>
                <tr>
                    <td align='right'>First Name:</td>
                    <td align='left'><jqxInput #firstName [width]="150" [height]="23"></jqxInput></td>
                </tr>
                <tr>
                    <td align='right'>Last Name:</td>
                    <td align='left'><jqxInput #lastName [width]="150" [height]="23"></jqxInput></td>
                </tr>
                <tr>
                    <td align='right'>Product:</td>
                    <td align='left'><jqxInput #product [width]="150" [height]="23"></jqxInput></td>
                </tr>
                <tr>
                    <td align='right'>Quantity:</td>
                    <td align='left'>
                        <jqxNumberInput #quantity
                              [width]="150" [height]="23" [decimalDigits]="0" [spinButtons]="true">
                        </jqxNumberInput>
                    </td>
                </tr>
                <tr>
                    <td align='right'>Price:</td>
                    <td align='left'>
                        <jqxNumberInput #price
                          [width]="150" [height]="23" [symbol]="'$'" [spinButtons]="true">
                        </jqxNumberInput>
                    </td>
                </tr>
                <tr>
                  <td align='right'></td>
                  <td style="padding-top: 10px" align='right'>
                      <jqxButton #SaveBtn style="margin-right: 5px; float: left" (onClick)="SaveBtnOnClick()">Save</jqxButton>
                      <jqxButton #CancelBtn style="float: left" (onClick)="CancelBtnOnClick()">Cancel</jqxButton>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</jqxWindow>

<jqxMenu #myMenu (onItemclick)="myMenuOnItemClick($event)"
    [width]="200" [height]="58" [mode]="'popup'" [autoOpenPopup]="false">
    <ul>
      <li>Edit Selected Row</li>
      <li>Delete Selected Row</li>
    </ul>
</jqxMenu>