<jqxListBox #listBox
            [multipleextended]="true"
            [selectedIndex]="3"
            [source]="countries"
            [width]="200"
            [height]="250">
</jqxListBox>

<div style="font-family: Verdana; font-size: 12px; width: 400px; margin-left: 20px; float: left;">
  <ul>
    <li><b>Tab</b> - Like other widgets, the jqxListBox widget receives focus by tabbing into it. Once focus is received, users will be able to use the keyboard to change the jqxListBox's selection. A second tab will take the user out of the widget.</li>
    <li><b>Shift+Tab</b> - reverses the direction of the tab order. Once in the widget, a Shift+Tab will take the user to the previous focusable element in the tab order.</li>
    <li><b>Up/Down</b> arrow keys - select previous or next item.</li>
    <li><b>Page Up/Page Down</b> keys - navigate up or down with one page.</li>
    <li><b>Home/End</b> keys - navigate to the first or last item.</li>
    <li>Hold <b>SHIFT</b> and press Up or Down arrow keys to select multiple items.</li>
    <li>Hold <b>SHIFT</b> or <b>Ctrl</b> and click with the mouse to select multiple items.</li>
    <li>
      <b>Incremental Search</b> - start typing to select the matching item.
    </li>
    <li><b>First letter</b> - press a key to navigate to a matching item. Subsequent press on the same key will iterate over the matches.</li>
  </ul>
</div>