<div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <chartGeneral></chartGeneral>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <barGaugeTarget #referenceBargauge></barGaugeTarget>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4" style="display: inline-block; width: 300px; height: 400px; padding-top: 120px;" #listContainer>
                <ul style="color: #4d4d4d; list-style: none;"></ul>
            </div>
        </div>

        <div class="row">
            <chartMonthly></chartMonthly>
        </div>

        <div class="row">
            <chartProduct></chartProduct>
        </div>

</div>