@{
    ViewData["Title"] = "ASP .NET MVC Switch Button Example";
}
<label>ASP .NET Core MVC SwitchButton Tag Helper Example</label><br/><br/>
<jqx-switchbutton theme="@ViewData["Theme"]" width="150" height="30"></jqx-switchbutton>
