<jqxDropDownList 
    [width]="200" [height]="30" [source]="source" [selectedIndex]="1">
</jqxDropDownList>

<br />

<jqxDropDownList 
    [width]="200" [height]="30" [source]="source" [selectedIndex]="1" [template]="'primary'">
</jqxDropDownList>

<br />

<jqxDropDownList 
    [width]="200" [height]="30" [source]="source" [selectedIndex]="1" [template]="'success'">
</jqxDropDownList>

<br />

<jqxDropDownList 
    [width]="200" [height]="30" [source]="source" [selectedIndex]="1" [template]="'info'">
</jqxDropDownList>

<br />

<jqxDropDownList 
    [width]="200" [height]="30" [source]="source" [selectedIndex]="1" [template]="'warning'">
</jqxDropDownList>

<br />

<jqxDropDownList 
    [width]="200" [height]="30" [source]="source" [selectedIndex]="1" [template]="'danger'">
</jqxDropDownList>