<div>
    <smart-button id="button">Button</smart-button>
    <smart-tooltip id="tooltip" selector="button" arrow>This is a tooltip for smartButton</smart-tooltip>
    <div class="options">
      <h3>Tooltip Position:</h3>
      <smart-radio-button enable-container-click checked>Top</smart-radio-button><br/>
      <smart-radio-button enable-container-click>Bottom</smart-radio-button><br/>
      <smart-radio-button enable-container-click>Left</smart-radio-button><br/>
      <smart-radio-button enable-container-click>Right</smart-radio-button><br/>
    </div>
  </div>