@{
    ViewData["Title"] = "ASP .NET MVC PasswordInput Example";
}
<label>ASP .NET Core MVC Password Input Tag Helper Example</label><br/><br/>
    <div style='margin-top: 10px;'>
        Password Input
    </div>
    <jqx-passwordinput width="200" height="25" placeHolder="Enter password:" showStrength="true"></jqx-passwordinput>
