<script src="~/jqwidgets/jqxpasswordinput.js"></script>
<script src="~/jqwidgets/jqxtooltip.js"></script>
@{
    ViewData["Title"] = "ASP .NET MVC PasswordInput Example"; 
}
@section scripts {
    <script>
        var localization = {
            passwordStrengthString: "???? ?????",
            tooShort: "??? ???",
            weak: "???",
            fair: "????",
            good: "???",
            strong: "???"
        };

        function passwordStrength(password, characters, defaultStrength) {
            var length = password.length;
            var letters = characters.letters;
            var numbers = characters.numbers;
            var specialKeys = characters.specialKeys;
            var strengthCoefficient = letters + numbers + 2 * specialKeys + letters * numbers * specialKeys;
            var strengthValue;
            if (length < 4) {
                strengthValue = "Too short";
            } else if (strengthCoefficient < 10) {
                strengthValue = "Weak";
            } else if (strengthCoefficient < 20) {
                strengthValue = "Fair";
            } else if (strengthCoefficient < 30) {
                strengthValue = "Good";
            } else {
                strengthValue = "Strong";
            };
            return strengthValue;
        }

        function strengthTypeRenderer(password, characters, defaultStrength) {
            var length = password.length;
            var letters = characters.letters;
            var numbers = characters.numbers;
            var specialKeys = characters.specialKeys;
            var strengthCoefficient = letters + numbers + 2 * specialKeys + letters * numbers / 2 + length;
            var strengthValue;
            var color;
            if (length < 8)
            {
                strengthValue = "Too short";
                color = "rgb(170, 0, 51)";
            }
            else if (strengthCoefficient < 20)
            {
                strengthValue = "Weak";
                color = "rgb(170, 0, 51)";
            }
            else if (strengthCoefficient < 30)
            {
                strengthValue = "Fair";
                color = "rgb(255, 204, 51)";
            }
            else if (strengthCoefficient < 40)
            {
                strengthValue = "Good";
                color = "rgb(45, 152, 243)";
            }
            else
            {
                strengthValue = "Strong";
                color = "rgb(118, 194, 97)";
            };
            return "<div style='color: " + color + ";'>" + strengthValue + "</div>";
        }
    </script>
}

<div style='margin-top: 10px;'>
    Password Input
</div>
<jqx-password-input localization="{{localization}}" strength-type-renderer=strengthTypeRenderer() width="200" height="25" place-holder="Enter password:" show-strength="true"></jqx-password-input>
