<div class="container">
  <div id="heatmap">
    <jqxHeatMap #myHeatMap [xAxis]="xAxis" [yAxis]="yAxis" [source]="data"
      [title]="'Car sales revenue per employee(in 1000 &euro;)'">
    </jqxHeatMap>
  </div>

  <div id="options">
    <jqxCheckBox #myCheckBoxXAxis (onChange)="changeXAxisPosition($event)" [checked]="true">
      Change X-Axis Position
    </jqxCheckBox>
    <jqxCheckBox #myCheckBoxYAxis (onChange)="changeYAxisPosition($event)" [checked]="true">
      Change Y-Axis Position
    </jqxCheckBox>
  </div>
</div>