<jqxTagCloud #myTagCloud
    [width]="getWidth()" [height]="200" [source]="dataAdapter" [fontSizeUnit]="'px'"
    [minFontSize]="12" [maxFontSize]="20" [displayMember]="'country'" [valueMember]="'rate'"
    [urlBase]="'http://localhost/'" [minColor]="'#00AA99'" [maxColor]="'#FF0000'">
</jqxTagCloud>

<div>
    <div style="float: left">
        <label style="margin-left: 5px; font-size: 12px; font-family: Verdana">Select Min Color</label>

        <jqxDropDownButton #myDropDownButton1 style="margin: 3px"
            [width]="150" [height]="22">
            <div style="padding: 3px">

                <jqxColorPicker (onColorchange)="myColorPickerOnColorChange($event)"
                    [width]="220" [height]="220" [color]="'00AA99'" [colorMode]="'hue'">
                </jqxColorPicker>

            </div>
        </jqxDropDownButton>
    </div>

    <div style="float: left">
        <label style="margin-left: 5px; font-size: 12px; font-family: Verdana">Select Max Color</label>

        <jqxDropDownButton #myDropDownButton2 style="margin: 3px"
            [width]="150" [height]="22">
            <div style="padding: 3px">

              <jqxColorPicker (onColorchange)="myColorPicker2OnColorChange($event)"
                  [width]="220" [height]="220" [color]="'FF0000'" [colorMode]="'hue'">
              </jqxColorPicker>

            </div>
        </jqxDropDownButton>

      </div>
</div>