<script src="~/jqwidgets/jqxmaskedinput.js"></script>

@{
    ViewData["Title"] = "ASP .NET MVC MaskedInput Example";
}
    <div style='margin-top: 10px;'>
        Numeric
    </div>
    <jqx-masked-input width="250" style='margin-top: 3px;' id='numericInput'></jqx-masked-input>
    <div style='margin-top: 10px;'>
        Zip Code
    </div>
    <jqx-masked-input width="250" mask="#####-####" style='margin-top: 3px;' id='zipCodeInput'></jqx-masked-input>
    <div style='margin-top: 10px;'>
        SSN
    </div>
    <jqx-masked-input width="250" mask="###-##-####" style='margin-top: 3px;' id='ssnInput'></jqx-masked-input>
    <div style='margin-top: 10px;'>
        Phone Number
    </div>
    <jqx-masked-input width="250" mask="(###)###-####" style='margin-top: 3px;' id='phoneInput'> </jqx-masked-input>
    <div style='margin-top: 10px;'>
        Disabled
    </div>
    <jqx-masked-input width="250" disabled="true"  style='margin-top: 3px;' id='disabledInput'></jqx-masked-input>