smart-gantt-chart {
    height: 400px;
}

smart-button {
    width: 150px;
}


smart-gantt-chart .task {
    --smart-gantt-chart-task-default-color: rgb(94, 99, 181);
    --smart-gantt-chart-task-label-color: white;
}
