<jqxLayout [width]="getWidth()" [height]="600" [layout]="layout" [contextMenu]="true">
    <div data-container="TeamsPanel">
        <div id="teamsDataTable" class="no-border"></div>
    </div>
    <div data-container="ProjectsPanel">
        <div id="projectsListBox" class="no-border"></div>
    </div>
    <div data-container="ProjectsTimelinePanel">
        <div id="projectsTimelineDiv" style="margin: 5px 0 0 5px;"></div>
    </div>
    <div data-container="ContactsPanel">
        <table id="contactsTable" style="margin: 20px;"></table>
    </div>
    <div data-container="StaffPanel">
        <div id="staffDiv" class="no-border" style="margin-left: 5px; margin: 20px;"></div>
    </div>
    <div data-container="ProjectHistoryPanel">
        <div id="projectHistoryChart" style="border: none; width: 99.9%; height: 100%;"></div>
    </div>
</jqxLayout>