<jqxChart #myChart
    [width]="getWidth()" [height]="500"
    [title]="'Live updates demo'" [enableAxisTextAnimation]="true"
    [description]="''" [animationDuration]="1000"
    [showLegend]="true" [enableAnimations]="true" [padding]="padding"
    [titlePadding]="titlePadding" [source]="data" [xAxis]="xAxis"
    [valueAxis]="valueAxis" [seriesGroups]="seriesGroups" [colorScheme]="'scheme03'">
</jqxChart>

<table style="width: 680px">
    <tbody>
        <tr>
            <td style="padding-left: 50px">
                <p>Select the series type:</p>

                <jqxDropDownList (onChange)="seriesOnChange($event)"
                    [width]="200" [height]="25" [selectedIndex]="2"
                    [dropDownHeight]="100" [source]="seriesList">
                </jqxDropDownList>

            </td>
            <td>
                <p>Select color scheme:</p>

                <jqxDropDownList (onChange)="colorsOnChange($event)"
                    [width]="200" [height]="25" [selectedIndex]="2"
                    [dropDownHeight]="100" [source]="colorsSchemesList">
                </jqxDropDownList>

            </td>
        </tr>
    </tbody>
</table>