smart-window > .smart-container > .smart-content {
    /*overflow-y: auto;*/
    flex-direction: column;
}

smart-window #article {
    overflow-y: auto;
}

#window1 {
    top: calc(50% - var(--smart-window-default-height));
    left: calc(50% - var(--smart-window-default-width));
}

#window2 {
    top: calc(50% - var(--smart-window-default-height) / 1.5);
    left: calc(50% - var(--smart-window-default-width) / 1.5);
}

#window3 {
    top: calc(50% - var(--smart-window-default-height) / 3);
    left: calc(50% - var(--smart-window-default-width) / 3);
}
