<jqxChart #myChart
    [width]="getWidth()" [height]="500"
    [title]="'Economic comparison'"
    [description]="'GDP and Debt in 2010'"
    [showLegend]="true" [enableAnimations]="true" [padding]="padding"
    [titlePadding]="titlePadding" [source]="dataAdapter" [xAxis]="xAxis"
    [seriesGroups]="seriesGroups" [colorScheme]="'scheme01'">
</jqxChart>

<div style="margin-top: 10px">
    <jqxButton (onClick)="jpegButtonOnClick()">
      Save As JPEG
    </jqxButton>
    <jqxButton (onClick)="pngButtonOnClick()">
      Save As PNG
    </jqxButton>
    <jqxButton (onClick)="pdfButtonOnClick()">
        Save As PDF
   </jqxButton>
</div>
