<div style='float: left; width: 500px;' #jqxWidget>
  <jqxListBox style="margin-left: 20px; margin-top: 10px; float: left;" #jqxListBox
              (onSelect)="select($event)"
              (onUnselect)="unselect($event)"
              [source]="source"
              [width]="200"
              [height]="250">
  </jqxListBox>
  <div style='margin-left: 20px; margin-top: 10px; float: left;'>
    <div>
      <span>
        Events:
      </span>
      <jqxPanel #Events [width]="200" [height]="250">
      </jqxPanel>
    </div>
  </div>
</div>