<div style="float: left; font-size: 13px; font-family: Verdana;">
    <h3>Alignment</h3>

    <jqxRadioButton (onChecked)="leftBtnOnChecked()">
        Left
    </jqxRadioButton>

    <jqxRadioButton style="margin-top: 10px" (onChecked)="rightBtnOnChecked()" [checked]="true">
        Right
    </jqxRadioButton>

</div>

<jqxComboBox #myComboBox style="float: left; margin-top: 20px; margin-left: 100px;"
    [width]="150" height="25" [source]="dataAdapter" [selectedIndex]="0"
    [dropDownHorizontalAlignment]="'right'" [dropDownWidth]="200"
    [displayMember]="'ContactName'" [valueMember]="'CompanyName'">
</jqxComboBox>