<div style="font-size: 13px; font-family: Verdana; float: left">

    <jqxGrid #myGrid
        [width]="getWidth()" [source]="dataAdapter" [columns]="columns"
        [pageable]="true" [sortable]="true" [columnsresize]="true"
        [autoheight]="true" [pagermode]="'simple'" [selectionmode]="'multiplerowsextended'">
    </jqxGrid>

  <div style="margin-top: 30px">
    <div style="float: left">
        Pager Settings:

        <jqxDropDownList (onSelect)="myListOnSelect($event)"
            [width]="150" [height]="25" [selectedIndex]="1"
            [autoDropDownHeight]="true" [source]="['Default', 'Simple']">
        </jqxDropDownList>

    </div>
  </div>

</div>
