<nav class="navbar navbar-default home-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle header-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <mat-icon class="header-toggle-icon home-toggle-icon">more_vert</mat-icon>
            </button>
            <div class="home-header-container">
                <mat-icon class="back-icon">arrow_back</mat-icon>
                <span class="text-one">Home</span>
                <span class="text-two"> - Dashboard</span>
                <p class="text-three">Good morning, Margaren Levingston!</p>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right">
                <li class="home-header-container navbar-collapsed-container">
                    <div class="right-container">
                        <mat-icon class="right-icon">equalizer</mat-icon>
                        <p class="right-text">Statistics</p>
                    </div>
                    <div class="right-container">
                        <mat-icon class="right-icon">feedback</mat-icon>
                        <p class="right-text">Feedback</p>
                    </div>
                    <div class="right-container">
                        <mat-icon class="right-icon">history</mat-icon>
                        <p class="right-text">History</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>