@using jQWidgets.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ASP .NET MVC Slider Example";
}

<label>ASP .NET Core MVC Slider Tag Helper Example</label><br/><br/>
<jqx-slider theme="@ViewData["Theme"]" width="350" height="50" ></jqx-slider>
