@{
    ViewData["Title"] = "ASP .NET MVC NumberInput Example";
}
<label>ASP .NET Core MVC Number Input Tag Helper Example</label><br/><br/>
<label>Default Input</label>

<jqx-numberinput spinButtons="true" theme="@ViewData["Theme"]" width="300" height="25" ></jqx-numberinput>
<label>Simple Input</label>

<jqx-numberinput inputMode="simple" spinButtons="true" theme="@ViewData["Theme"]" width="300" height="25"></jqx-numberinput>
