<jqxLayout [width]="getWidth()" [height]="600" [layout]="layout" [contextMenu]="true">
    <div data-container="ToolboxPanel">List of tools</div>
    <div data-container="HelpPanel">Help topics</div>

    <div data-container="Document1Panel">
        <div style="padding: 5px">
            <div id="Document1TextArea" style="margin: 5px"></div>
        </div>
    </div>
    <div data-container="Document2Panel">
        <div style="padding: 5px">
            <div id="Document2TextArea" style="margin: 5px"></div>
        </div>
    </div>

    <div data-container="ErrorListPanel">List of errors</div>
    <div data-container="PerformancePanel">
        <div id="cpuUsage" style="width: 99%; height: 100px"></div>
    </div>

    <div data-container="SolutionExplorerPanel">
        <div id="solutionExplorerTree" style="border: none"></div>
    </div>
    <div data-container="PropertiesPanel">List of properties</div>
</jqxLayout>