<jqxScheduler #scheduler
              [width]="getWidth()" [height]="600"
              [date]="date"
              [source]="dataAdapter"
              [showLegend]="true"
              [resources]="resources"
              [view]="'weekView'"
              [views]="views"
              [appointmentDataFields]="appointmentDataFields">
</jqxScheduler>

<div style='margin-top: 20px;'>
  <div style='float: left;'>
    <jqxButton #excelExport
               (onClick)="excelExportClick()">
      Export to Excel
    </jqxButton>
    <br />
    <br />
    <jqxButton #xmlExport
               (onClick)="xmlExportClick()">
      Export to XML
    </jqxButton>
  </div>
  <div style='margin-left: 10px; float: left;'>
    <jqxButton #csvExport
               (onClick)="csvExportClick()">
      Export to CSV
    </jqxButton>
    <br />
    <br />
    <jqxButton #tsvExport
               (onClick)="tsvExportClick()">
      Export to TSV
    </jqxButton>
  </div>
  <div style='margin-left: 10px; float: left;'>
    <jqxButton #htmlExport
               (onClick)="htmlExportClick()">
      Export to HTML
    </jqxButton>
    <br />
    <br />
    <jqxButton #jsonExport
               (onClick)="jsonExportClick()">
      Export to JSON
    </jqxButton>
  </div>
  <div style='margin-left: 10px; float: left;'>
    <jqxButton #pdfExport
               (onClick)="pdfExportClick()">
      Export to PDF
    </jqxButton>
  </div>
</div>