<jqxChart #myChart
    [width]="getWidth()" [height]="500" 
    [title]="'Weather in Geneva, Switzerland'" [description]="'Climatological Information about Geneva'"
    [showLegend]="true" [enableAnimations]="true" [enableCrosshairs]="true" [padding]="padding"
    [titlePadding]="titlePadding" [source]="data" [xAxis]="xAxis"
    [valueAxis]="valueAxis" [colorScheme]="'scheme05'" [seriesGroups]="seriesGroups">
</jqxChart>

<br />
<br />

<jqxCheckBox #checkboxSwapAxis (onChange)="checkboxSwapAxisOnChange($event)" style="margin-top: 5px">
    Swap X and Y axes
</jqxCheckBox>
             
