<jqxSortable>
    <div class="download-wrapper">
        <div class="wrapper">
            <div class="img"></div>
            <div class="wrapper-text">
                <div class="wrapper-text-big">QUARTERLY STATEMENT 4 2016</div>
                <div class="wrapper-text-small">Uploaded: SEPTEMBER 20 2016</div>
            </div>
            <div class="icon"></div>
        </div>
    </div>
    <div class="download-wrapper">
        <div class="wrapper">
            <div class="img"></div>
            <div class="wrapper-text">
                <div class="wrapper-text-big">QUARTERLY STATEMENT 3 2016</div>
                <div class="wrapper-text-small">Uploaded: JULY 20 2016</div>
            </div>
            <div class="icon"></div>
        </div>
    </div>
    <div class="download-wrapper">
        <div class="wrapper">
            <div class="img"></div>
            <div class="wrapper-text">
                <div class="wrapper-text-big">QUARTERLY STATEMENT 2 2016</div>
                <div class="wrapper-text-small">Uploaded: MAY 20 2016</div>
            </div>
            <div class="icon"></div>
        </div>
    </div>
    <div class="download-wrapper">
        <div class="wrapper">
            <div class="img"></div>
            <div class="wrapper-text">
                <div class="wrapper-text-big">QUARTERLY STATEMENT 1 2016</div>
                <div class="wrapper-text-small">Uploaded: JANUARY 20 2016</div>
            </div>
            <div class="icon"></div>
        </div>
    </div>
</jqxSortable>