/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #f2f2f2;
}

body * {
    font-size: 95%;
}