smart-button {
    width: 150px;
    height: auto;
    padding: 5px;
}

#slider {
    width: 300px;
    height: 100px;
    margin-bottom: 50px;
}

#tank {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

#gauge {
    width: 300px;
}
