<jqxDropDownList #myDropDownList style="float: left"
    (onSelect)="listOnSelect($event)"
    [width]="200" [height]="30" [selectedIndex]="0">
</jqxDropDownList>

<div style="float: left">
    <select #select id="select" style="height: 25px; width: 200px; margin-left: 30px">
        <option>Affogato</option>
        <option>Americano</option>
        <option>Bicerin</option>
        <option>Breve</option>
        <option>Café Bombón</option>
        <option>Caffé Corretto</option>
        <option>Café Crema</option>
        <option>Caffé Latte</option>
        <option>Caffé macchiato</option>
        <option>Café mélange</option>
        <option>Coffee milk</option>
        <option>Cafe mocha</option>
        <option>Cappuccino</option>
        <option>Carajillo</option>
        <option>Cuban espresso</option>
        <option>Espresso</option>
        <option>The Flat White</option>
        <option>Frappuccino</option>
        <option>Galao</option>
        <option>Greek frappé coffee</option>
        <option>Iced Coffee﻿</option>
        <option>Indian filter coffee</option>
        <option>Instant coffee</option>
        <option>Irish coffee</option>
        <option>Liqueur coffee</option>
    </select>
</div>
