<fieldset style="width: 200px; margin-top:1em; margin-bottom: 1em; border: 1px solid lightgrey;">
  Date is {{ date | json }}
</fieldset>

<label>Date Input</label>
<jqxDateTimeInput [(ngModel)]='date'
    [width]='300' [height]='25'>
</jqxDateTimeInput>
<br />

<fieldset style="width: 200px; margin-top:1em; margin-bottom: 1em; border: 1px solid lightgrey;">
  Time is {{ time | json }}
</fieldset>

<label>Time Input</label>
<jqxDateTimeInput [(ngModel)]='time'
    [width]='300' [height]='25' [formatString]='"T"' [showTimeButton]='true' [showCalendarButton]='false'>
</jqxDateTimeInput>
