<jqxScheduler #scheduler
              [width]="getWidth()" [height]="600"
              [date]="date"
              [source]="dataAdapter"
              [showLegend]="true"
              
              [editDialogCreate]="editDialogCreate"
              [editDialogOpen]="editDialogOpen"
              [editDialogClose]="editDialogClose"
              [editDialogKeyDown]="editDialogKeyDown"

              [resources]="resources"
              [view]="'monthView'"
              [views]="views"
              [appointmentDataFields]="appointmentDataFields">
</jqxScheduler>