<table>
  <tr>
    <td>Top</td>
    <td>Top Left</td>
    <td>Top Right</td>
  </tr>
  <tr>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'top'"></jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'topLeft'"></jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'topRight'"></jqxButton>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>Center</td>
    <td>Left</td>
    <td>Right</td>
  </tr>
  <tr>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'center'"></jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'left'"></jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'right'"></jqxButton>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>Bottom</td>
    <td>Bottom Left</td>
    <td>Bottom Right</td>
  </tr>
  <tr>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'bottom'"></jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'bottomLeft'"></jqxButton>
    </td>
    <td>
      <jqxButton [width]="120" [height]="50" [imgSrc]="'./../../../images/twitter.png'" [imgPosition]="'bottomRight'"></jqxButton>
    </td>
  </tr>
</table>