<jqxButtonGroup #myButtonGroup (onButtonclick)="groupOnBtnClick($event)">
  <button style="padding: 4px 16px" id='Left' value='Left'></button>
  <button style="padding: 4px 16px" id='Center' value='Center'></button>
  <button style="padding: 4px 16px" id='Right' value='Right'></button>
</jqxButtonGroup>

<div style="margin-top: 10px">
  <h4>Modes</h4>
  <jqxRadioButton (onChecked)="radioButtonChecked('default')">Default</jqxRadioButton>
  <jqxRadioButton (onChecked)="radioButtonChecked('radio')">RadioButtons</jqxRadioButton>
  <jqxRadioButton (onChecked)="radioButtonChecked('checkbox')">CheckBoxes</jqxRadioButton>
</div>

<div #myLog style="margin-top: 10px;"></div>