<script src="~/jqwidgets/jqxbulletchart.js"></script>
<script src="~/jqwidgets/jqxtooltip.js"></script>

@using jQWidgets.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ASP .NET MVC Bullet Chart Range Styling Example";
}
<div class="example-description">ASP .NET MVC BulletChart Range Styling Example</div><br />
<jqx-bullet-chart labels-format="c" width="700" height="80" bar-size="40%" title="Revenue 2016 YTD" description="(U.S. $ in thousands)" >
    <jqx-bullet-chart-pointer value="270" label="Revenue 2016 YTD" size="25%"></jqx-bullet-chart-pointer>
    <jqx-bullet-chart-target value="260" label="Revenue 2016 YTD" size="4"></jqx-bullet-chart-target>
    <jqx-bullet-chart-ticks position="far" interval="50" size="10"></jqx-bullet-chart-ticks>
    <jqx-bullet-chart-ranges>
        <jqx-bullet-chart-range start-value="0" end-value="200" color="#CC0000" opacity="1"></jqx-bullet-chart-range>
        <jqx-bullet-chart-range start-value="200" end-value="250" color="#FFD633" opacity="1"></jqx-bullet-chart-range>
        <jqx-bullet-chart-range start-value="250" end-value="300" color="#00CC00" opacity="1"></jqx-bullet-chart-range>
  </jqx-bullet-chart-ranges>
</jqx-bullet-chart>