<div style="float: left; margin-right: 20px;">
    <div>Filter By:</div>

    <jqxDropDownList #myDropDownList (onSelect)="myDropDownListOnSelect($event)"
        [width]="100" [selectedIndex]="0" [autoDropDownHeight]="true" [source]="listSource">
    </jqxDropDownList>

    <div style="margin-top: 10px"></div>

    <jqxListBox #myListBox (onCheckChange)="myListBoxOnCheckChange($event)"
        [width]="160" [height]="250" [checkboxes]="true">
    </jqxListBox>

    <div style="margin-top: 10px">
        <jqxButton (onClick)="applyBtnOnClick()">Apply Filter</jqxButton>
        <jqxButton (onClick)="clearBtnOnClick()">Clear Filter</jqxButton>
    </div>
</div>

<jqxTreeGrid #myTreeGrid
    [width]="600" [source]="dataAdapter" [columns]="columns" 
    [sortable]="true" [ready]="ready">
</jqxTreeGrid>