/* ------------ */

#container {
    font-family: var(--smart-material-font-family);
    line-height: 24px;
    font-size: 13px;
    background-color: #fafafa;
    padding: 25px;
    margin-left: 0;
    padding: 200px;
    padding-top: 50px;
}

    #container section h1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 30px;
        color: #3949ab;
    }

    #container section:first-of-type h1 {
        font-size: 34px;
        border-top: initial;
    }

    #container section:first-of-type div h1 {
        font-size: 20px;
    }

    #container section {
        margin-top: 80px;
    }

        #container section:first-of-type {
            margin-top: 0;
        }

        #container section div h1 {
            color: #212121;
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 20px;
            max-width: 940px;
        }

    #container nav {
        display: block;
        border-left: 5px #3949ab solid;
        padding-left: 20px;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        font: inherit;
        margin-top: 60px;
    }

        #container nav ul {
            list-style: none;
            margin-top: 0;
            padding-left: 0;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            display: block;
            list-style-type: disc;
        }

        #container nav li {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            font-size: 20px;
            line-height: 40px;
        }

            #container nav li a {
                text-decoration: none;
            }

        #container nav h1 {
            font-size: 15px;
            line-height: 16px;
            padding-bottom: 12px;
            font-weight: 400;
            color: #757575;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }

.module {
    width: calc(100% / 4);
    display: inline-block;
    font: inherit;
    margin-right: 40px;
    min-width: 365px;
    vertical-align: top;
    position: relative;
}


    .module h3 {
        margin-top: 30px;
    }

    .module p {
        margin-bottom: 20px;
    }

    .module img {
        width: 100%;
    }

.module-large {
    width: calc(100% / 2);
}

smart-accordion {
    width: 550px;
    height: auto;
}

smart-text-box.material[label] .smart-label {
    font-size: 14px;
}

.description {
    position: absolute;
    pointer-events: none;
    left: 180px;
    top: 10px;
    color: rgba(0,0,0,.50);
}

.date {
    color: rgba(0,0,0,.35);
}

.light {
    background-color: #EEEEEE;
    padding: 20px;
}

smart-card {
    border-radius: 3px;
}

.usage-single {
    width: 345px;
    margin-left: calc(50% - 170px);
    background-color: white;
}

    .usage-single p {
        padding: 0px 20px 0px 20px;
    }

    .usage-single h1 {
        padding: 0px 20px 0px 20px;
    }

    .usage-single a {
        color: #ffab40;
        transition: color .3s ease;
        text-transform: uppercase;
        border-bottom: none;
        text-decoration: none;
        margin-right: 20px;
    }

        .usage-single a:hover {
            color: #ffd8a6;
        }

.usage-mobile-view-1,
.usage-mobile-view-2,
.usage-mobile-view-3,
.usage-mobile-view-4,
.usage-mobile-view-5,
.usage-mobile-view-6 {
    width: 360px;
    height: 640px;
    background-size: 100% auto;
}

.usage-mobile-view-1 {
    background-image: url('../../images/components-mobile-view-1.png');
}

.usage-mobile-view-2 {
    background-image: url('../../images/components-mobile-view-2.png');
}

.usage-mobile-view-3 {
    background-image: url('../../images/components-mobile-view-3.png');
}

.usage-mobile-view-4 {
    background-image: url('../../images/components-mobile-view-4.png');
}

.usage-mobile-view-5 {
    background-image: url('../../images/components-mobile-view-5.png');
}

.usage-mobile-view-6 {
    background-image: url('../../images/components-mobile-view-6.png');
}

.viewport {
    margin-top: 82px;
    height: 517px;
    overflow: hidden;
}

    .viewport smart-card {
        width: 96%;
        margin: 2%;
        position: relative;
    }


/* mobile view 1,2 */
.subheadline {
    margin: 0px !important;
    padding-bottom: 0px;
}

.usage-mobile-view-2 .usage-single {
    color: white;
}

    .usage-mobile-view-2 .usage-single h1 {
        color: white !important;
        margin-bottom: 0px !important;
    }

    .usage-mobile-view-2 .usage-single p {
        margin-top: 0px;
    }

    .usage-mobile-view-2 .usage-single a {
        color: white !important;
    }

.image-right {
    height: 150px;
}

.image-on-right {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 115px !important;
    height: 115px;
}

.dark-cyan {
    background-color: #2D566B;
}

.turquoise {
    background-color: #227585;
}

.pink {
    background-color: #861E6A;
}

.red {
    background-color: #AA1656;
}


/* mobile view 3,4 */
smart-card.discover {
    position: relative;
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.discover.small-card {
    width: 46%;
    height: 210px;
}

.discover .content {
    position: absolute;
    bottom: 0px;
    height: 55px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.discover.small-card .content {
    justify-content: center;
}

.discover smart-button,
.discover smart-button button {
    border: none;
    width: 35px;
    border-radius: 50%;
}

.discover-1 {
    background-image: url('../../images/components-mobile-view-3-card-1.png');
}

.discover-2 {
    background-image: url(../../images/components-mobile-view-3-card-2.png);
}

.discover-3 {
    background-image: url(../../images/components-mobile-view-3-card-3.png);
}

.discover-4 {
    background-image: url(../../images/components-mobile-view-3-card-4.png);
}


.feed-reader {
    height: auto;
    padding: 20px 20px 0px 5px;
    background-color: #FAFAFA;
}

    .feed-reader img.image-on-right {
        width: 75px !important;
        height: 75px !important;
        right: 15px;
        top: 15px;
    }

    .feed-reader p {
        margin: 0px 0px 0px 10px;
        font-size: 13px;
        color: #222;
    }

    .feed-reader h1 {
        margin: 5px 0px 0px 10px;
        font-size: 24px;
    }

    .feed-reader smart-button {
        margin-top: 20px;
    }

        .feed-reader smart-button button.smart-button {
            border-width: 0px;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color: #5C6BC0;
        }

/* mobile view 5,6 */
#gridView1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    width: 100%;
    justify-items: stretch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    #gridView1 h1 {
        margin: 0px !important;
        padding: 15px;
        font-weight: 100;
        font-size: 24px !important;
    }

    #gridView1 ul {
        padding-left: 20px;
        font-size: 12px;
    }

    #gridView1 li {
        font-size: 11px;
        opacity: 0.9;
        line-height: 1.8;
    }

    #gridView1 .separator {
        border-top: #11111111 solid 1px;
        padding: 5px 15px 0px 15px;
        margin: 5px 0px 0px 0px;
        font-size: 13px;
        position: relative;
        opacity: 0.9;
    }

    #gridView1 .bottom {
        padding: 10px 15px 10px 15px;
    }


    #gridView1 .separator .material-icons {
        position: absolute;
        right: 10px;
        top: 11px;
    }


    #gridView1 smart-check-box {
        color: white;
        margin-left: 15px;
        opacity: 0.9;
        font-size: 13px;
    }

        #gridView1 smart-check-box .smart-input {
            background-color: transparent;
            border: none;
            margin-right: 12px;
        }

            #gridView1 smart-check-box .smart-input:after {
                font-size: 24px;
                font-family: "Material Icons";
                content: "check_box_outline_blank";
            }

        #gridView1 smart-check-box[checked] .smart-input:after {
            content: "check_box";
        }

    #gridView1 .notes * {
        color: white;
    }

    #gridView1 li * {
        color: white;
    }

    #gridView1 .notes-1 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
        -ms-grid-column: 1;
        grid-column: 1;
        background-color: #00BCD4;
        color: white;
    }

    #gridView1 .notes-2 {
        -ms-grid-row: 1;
        -ms-grid-row-span: 4;
        grid-row: 1/5;
        -ms-grid-column: 2;
        grid-column: 2;
        background-color: #455A64;
        height: 242px;
    }

    #gridView1 .notes-3 {
        -ms-grid-row: 4;
        -ms-grid-row-span: 4;
        grid-row: 4/8;
        -ms-grid-column: 1;
        grid-column: 1;
        background-color: #3F51B5;
    }

    #gridView1 .notes-4 {
        -ms-grid-row: 6;
        grid-row: 6;
        -ms-grid-column: 2;
        grid-column: 2;
        background-color: #607D8B;
    }

    #gridView1 .notes-5 {
        -ms-grid-row: 8;
        -ms-grid-row-span: 4;
        grid-row: 8/12;
        -ms-grid-column: 1;
        grid-column: 1;
        background-color: #607D8B;
    }

    #gridView1 .notes-6 {
        -ms-grid-row: 7;
        -ms-grid-row-span: 3;
        grid-row: 7/10;
        -ms-grid-column: 2;
        grid-column: 2;
        background-color: #FF7043;
        margin-top: 25px;
    }

.food-content {
    font-size: 10px;
    padding: 10px;
    line-height: 1;
    letter-spacing: 0.5px;
    opacity: 0.9;
    margin: 0px;
}

.usage-mobile-view-5 smart-button.material.floating {
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 60px;
    height: 60px;
    background-color: yellow;
    font-size: 20px;
}

    .usage-mobile-view-5 smart-button.material.floating button {
        background-color: yellow;
    }

#gridView2 smart-card {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    margin: 0px;
    padding: 15px;
    background-color: white;
    -webkit-transition: grid-column 1s, grid-row 1s;
    -o-transition: grid-column 1s, grid-row 1s;
    transition: grid-column 1s, grid-row 1s;
    transition: grid-column 1s, grid-row 1s, -ms-grid-column 1s, -ms-grid-row 1s;
}

    #gridView2 smart-card .card-title,
    #gridView2 smart-card .card-content,
    #gridView2 smart-card .card-comment {
        position: relative;
    }

    #gridView2 smart-card .card-target {
        font-size: 12px;
        color: gray;
    }

    #gridView2 smart-card .card-percentage {
        color: #51B785;
    }

    #gridView2 smart-card .card-content {
        margin: 5px 0px 5px 0px;
        font-size: 30px;
    }

    #gridView2 smart-card .card-graphic {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        #gridView2 smart-card .card-graphic img {
            margin-top: 10px;
        }

    #gridView2 smart-card.large .card-graphic {
        display: block;
    }

        #gridView2 smart-card.large .card-graphic img {
            max-height: initial;
            width: 100%;
            height: auto;
            margin-top: 10px;
        }

    #gridView2 smart-card .pager {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #gridView2 smart-card smart-pager {
        margin-left: auto;
        margin-right: auto;
    }

    #gridView2 smart-card smart-pager {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border-color: transparent;
    }

        #gridView2 smart-card smart-pager .smart-container {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        #gridView2 smart-card smart-pager .smart-items-container {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        #gridView2 smart-card smart-pager .smart-pager-item {
            width: 10px;
            height: 10px;
            background-color: lightgray;
            margin: 5px;
            border-radius: 50%;
        }

            #gridView2 smart-card smart-pager .smart-pager-item.smart-selected {
                background-color: #4285F4;
            }

#gridView2 div.hidden {
    display: none !important;
}

#gridView2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 215px 90px 90px 90px 90px;
    grid-template-rows: 215px 90px 90px 90px 90px;
    grid-gap: 10px;
    padding: 10px;
    justify-items: stretch;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    #gridView2 smart-card {
        width: 100%;
    }

smart-cards smart-card {
    margin: 0px;
}

#charts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100%;
}

    #charts .card-graphic img {
        width: 300px;
        height: 150px;
    }

#marketing {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
}

#conversion {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
}

    #conversion .card-graphic img {
        width: 150px;
        height: 75px;
    }

#impressions {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
}

    #impressions .card-graphic img {
        width: 150px;
        height: 75px;
    }

#design {
    -ms-grid-column: 1;
    grid-column: 1;
}
