jqxResponsivePanel > div, jqxPanel > div {
  float: left;
}

jqxTree > div {
  border: none !important;
}

.jqx-rc-all {
  border-radius: 0px;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}