@{
    ViewData["Title"] = "ASP .NET MVC Formatted Input Example";

}
<label>ASP .NET Core MVC Formatted Input Example</label><br/><br/>
<jqx-formattedinput theme="@ViewData["Theme"]" width="250" height="25"></jqx-formattedinput>