<b>Checkbox</b>
<jqxCheckBox style="margin-top: 10px"  [width]="85" [rtl]="true">eLearning</jqxCheckBox>
<jqxCheckBox style="margin-top: 5px; margin-bottom: 10px" [width]="85" [rtl]="true">Mobile</jqxCheckBox>

<b>Radio Button</b>
<jqxRadioButton style="margin-top: 10px" [width]="85" [rtl]="true">On</jqxRadioButton>
<jqxRadioButton style="margin-top: 5px; margin-bottom: 10px" [width]="85" [rtl]="true">Off</jqxRadioButton>

<b>DropDown Button</b>
<jqxDropDownButton #myDropDownButton style="margin-top: 10px; margin-bottom: 10px" [width]="180" [height]="25" [rtl]="true">
  <div style="direction: rtl">
    <ul>
      <li>Education</li>
      <li>Financial services</li>
      <li>Government</li>
      <li>Manufacturing</li>
      <li>
        Solutions
        <ul>
          <li>eLearning</li>
          <li>Mobile</li>
          <li>RIA</li>
          <li>Training</li>
        </ul>
      </li>
    </ul>
  </div>
</jqxDropDownButton>

<b>Switch Button</b>
<jqxSwitchButton style="margin-top: 10px" [width]="100" [rtl]="true"></jqxSwitchButton>