<div>Default</div>
<jqxComboBox 
    [width]="200" [height]="30" [source]="source" [selectedIndex]="1">
</jqxComboBox>
<br />

<div>Primary</div>
<jqxComboBox 
    [width]="200" [height]="30" [source]="source"
    [selectedIndex]="1" [template]="'primary'">
</jqxComboBox>
<br />

<div>Success</div>
<jqxComboBox 
    [width]="200" [height]="30" [source]="source"
    [selectedIndex]="1" [template]="'success'">
</jqxComboBox>
<br />

<div>Info</div>
<jqxComboBox 
    [width]="200" [height]="30" [source]="source"
    [selectedIndex]="1" [template]="'info'">
</jqxComboBox>
<br />

<div>Warning</div>
<jqxComboBox 
    [width]="200" [height]="30" [source]="source"
    [selectedIndex]="1" [template]="'warning'">
</jqxComboBox>
<br />

<div>Danger</div>
<jqxComboBox
    [width]="200" [height]="30" [source]="source"
    [selectedIndex]="1" [template]="'danger'">
</jqxComboBox>