<div style="margin-left: 180px; width: 400px;" id="container">
  <jqxTooltip #filmPicture1
              [name]="'movieTooltip'"
              [autoHide]="false"
              [content]="'The Amazing Spider-man'"
              [position]="position">
    <img src="./../../../images/The_Amazng_Spider_Man.jpeg" />
  </jqxTooltip>
  <jqxTooltip #filmPicture2
              [name]="'movieTooltip'"
              [autoHide]="false"
              [content]="'Harry Potter and the Deathly Hallows'"
              [position]="position">
    <img src="./../../../images/Harry_Potter_7_Part_1.jpg" />
  </jqxTooltip>
  <jqxTooltip #filmPicture3
              [name]="'movieTooltip'"
              [autoHide]="false"
              [content]="'The Avengers'"
              [position]="position">
    <img src="./../../../images/The_Avengers.jpg" />
  </jqxTooltip>
</div>