<script src="~/jqwidgets/jqxnavigationbar.js"></script>

@{
    ViewData["Title"] = "ASP .NET MVC NavigationBar Example";
}

<jqx-navigation-bar height="300" width="500" theme="@ViewData["Theme"]">
    <jqx-navigation-bar-panel>
        <jqx-navigation-bar-panel-header>Header 1</jqx-navigation-bar-panel-header>
        <jqx-navigation-bar-panel-body><label style="padding: 15px;">Body 1</label></jqx-navigation-bar-panel-body>
    </jqx-navigation-bar-panel>
    <jqx-navigation-bar-panel>
        <jqx-navigation-bar-panel-header>Header 2</jqx-navigation-bar-panel-header>
        <jqx-navigation-bar-panel-body><label style="padding: 15px;">Body 2</label></jqx-navigation-bar-panel-body>
    </jqx-navigation-bar-panel>
    <jqx-navigation-bar-panel>
        <jqx-navigation-bar-panel-header>Header 3</jqx-navigation-bar-panel-header>
        <jqx-navigation-bar-panel-body><label style="padding: 15px;">Body 3</label></jqx-navigation-bar-panel-body>
    </jqx-navigation-bar-panel>  
</jqx-navigation-bar>
