@{
    ViewData["Title"] = "ASP .NET MVC NavigationBar Example";
}
<label>ASP .NET Core MVC Navigation Bar Example</label><br/><br/>
<jqx-navigationbar height="300" width="500" theme="@ViewData["Theme"]">
    <jqx-navigationbar-panel>
        <jqx-navigationbar-panel-header>Header 1</jqx-navigationbar-panel-header>
        <jqx-navigationbar-panel-body><label style="padding: 15px;">Body 1</label></jqx-navigationbar-panel-body>
    </jqx-navigationbar-panel>
    <jqx-navigationbar-panel>
        <jqx-navigationbar-panel-header>Header 2</jqx-navigationbar-panel-header>
        <jqx-navigationbar-panel-body><label style="padding: 15px;">Body 2</label></jqx-navigationbar-panel-body>
    </jqx-navigationbar-panel>
    <jqx-navigationbar-panel>
        <jqx-navigationbar-panel-header>Header 3</jqx-navigationbar-panel-header>
        <jqx-navigationbar-panel-body><label style="padding: 15px;">Body 3</label></jqx-navigationbar-panel-body>
    </jqx-navigationbar-panel>  
</jqx-navigationbar>
