<b>Checkbox</b>
<jqxCheckBox style="margin-top: 10px"  [width]="'30%'">eLearning</jqxCheckBox>
<jqxCheckBox style="margin-top: 5px; margin-bottom: 10px" [width]="'30%'">Mobile</jqxCheckBox>

<b>Radio Button</b>
<jqxRadioButton style="margin-top: 10px" [width]="'30%'">On</jqxRadioButton>
<jqxRadioButton style="margin-top: 5px; margin-bottom: 10px" [width]="'30%'">Off</jqxRadioButton>

<b>DropDown Button</b>
<jqxDropDownButton #myDropDownButton style="margin-top: 10px; margin-bottom: 10px" [width]="'50%'" [height]="25">
  <div>
    <ul>
      <li>Education</li>
      <li>Financial services</li>
      <li>Government</li>
      <li>Manufacturing</li>
      <li>
        Solutions
        <ul>
          <li>eLearning</li>
          <li>Mobile</li>
          <li>RIA</li>
          <li>Training</li>
        </ul>
      </li>
    </ul>
  </div>
</jqxDropDownButton>

<b>Switch Button</b>
<jqxSwitchButton style="margin-top: 10px" [width]="'20%'"></jqxSwitchButton>