<script src="~/jqwidgets/jqxcalendar.js"></script>
<script src="~/jqwidgets/jqxdatetimeinput.js"></script>
<script src="~/jqwidgets/globalization/globalize.js"></script>

@{
    ViewData["Title"] = "ASP .NET MVC DateTimeInput Example";
}
<label>Date Input</label>

<jqx-date-time-input theme="@ViewData["Theme"]" width="300" height="25" ></jqx-date-time-input>
<br /><label>Time Input</label>

<jqx-date-time-input format-string="T" show-time-button="true" theme="@ViewData["Theme"]" width="300" height="25"></jqx-date-time-input>
<br /><label>Date/Time Input</label>

<jqx-date-time-input format-string="F" show-time-button="true" theme="@ViewData["Theme"]" width="300" height="25"></jqx-date-time-input>
