<jqxNotification #jqxNotification
                 [icon]="{ width: 25, height: 25, url: './../../../images/smiley.png', padding: 5}"
                 [template]="null"
                 [opacity]="0.9"
                 [position]="'top-left'"
                 [width]="'auto'">
  <div>
    Thank you for your feedback!
  </div>
</jqxNotification>
<table style="margin-left: 15px; margin-top: 15px;">
  <tr>
    <td class="label">
      Name:
    </td>
    <td>
      <jqxInput #name [width]="150"></jqxInput>
    </td>
  </tr>
  <tr>
    <td class="label">
      E-mail:
    </td>
    <td>
      <jqxInput #email [width]="150"></jqxInput>
    </td>
  </tr>
  <tr>
    <td class="label" style="vertical-align: top;">
      Comment:
    </td>
    <td>
      <jqxTextArea #comment [width]="155" [height]="150"></jqxTextArea>
    </td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;">
      <jqxButton #submit (onClick)="click()">Submit comment</jqxButton>
    </td>
  </tr>
</table>