<jqxChart #myChart
    (onClick)="chartEvent($event)" (onToggle)="chartEvent($event)"
    (mouseleave)="chartEvent($event)" (mouseenter)="chartEvent($event)" 
    [width]="getWidth()" [height]="500"
    [title]="'Fitness & exercise weekly scorecard'"
    [description]="'Time spent in vigorous exercise'"
    [showToolTips]="false" [enableAnimations]="true" [padding]="padding"
    [titlePadding]="titlePadding" [source]="sampleData" [xAxis]="xAxis"
    [seriesGroups]="seriesGroups" [colorScheme]="'scheme04'">
</jqxChart>

<div #eventText style="width: 350px; height: 30px"></div>

