<jqxFormattedInput #myFormattedInput
    [width]="250" [height]="25" [radix]="'binary'" [value]="100001">
</jqxFormattedInput>

<div style="margin-top: 20px">
  <jqxButton style="float: left" (onClick)="getOctal()" [width]="175">Get Octal Value</jqxButton>
  <jqxButton style="margin-left: 5px; float: left" (onClick)="getDecimal()" [width]="175">Get Decimal Value</jqxButton>
  <jqxButton style="margin-left: 5px; float: left" (onClick)="getHexadecimal()" [width]="175">Get Hexadecimal Value</jqxButton>
</div>