@model jQWidgets.AspNet.Core.Models.jQWidgetsDemosContext
@using jQWidgets.AspNetCore.Mvc.TagHelpers;
@{
    ViewData["Title"] = "ASP .NET MVC Scheduler TimeZones Example";
    List<SchedulerTimeZone> timeZones = new List<SchedulerTimeZone>() { new SchedulerTimeZone() { ID = "UTC", Text = "UTC" }, new SchedulerTimeZone() { ID = "Pacific Standard Time", Text = "PST" } };
}
<script>
    var timeZones = [{ id: "UTC", text: "UTC" }, { id: "Pacific Standard Time", text: "PST" }];
</script>
<label>ASP .NET Core MVC ComboBox Example</label><br/><br/>
<jqx-scheduler source="Model.Appointments" showLegend="true" view="WeekView" resources="Model.Resources" appointmentDataFields="Model.AppointmentDataFields" theme="@ViewData["Theme"]"  date="Model.Date" width="850" height="600">
    <jqx-scheduler-views>
        <jqx-scheduler-view type="DayView">
            <jqx-scheduler-time-ruler timeZones="timeZones"></jqx-scheduler-time-ruler>
        </jqx-scheduler-view>
        <jqx-scheduler-view type="WeekView">
            <jqx-scheduler-time-ruler timeZones="timeZones"></jqx-scheduler-time-ruler>
        </jqx-scheduler-view>
        <jqx-scheduler-view type="MonthView"></jqx-scheduler-view>
    </jqx-scheduler-views>
</jqx-scheduler>

