@model jQWidgets.AspNet.Core.Models.jQWidgetsDemosContext
@using jQWidgets.AspNetCore.Mvc.TagHelpers;
@{
    ViewData["Title"] = "ASP .NET MVC Scheduler TimelineViews Example";
}
<label>ASP .NET Core MVC Scheduler TimelineViews Example</label><br/><br/>
<jqx-scheduler source="Model.Appointments" showLegend="true" view="TimelineWeekView" resources="Model.Resources" appointmentDataFields="Model.AppointmentDataFields" theme="@ViewData["Theme"]"  date="Model.Date" width="850" height="600">
    <jqx-scheduler-views>
        <jqx-scheduler-view type="TimelineDayView"></jqx-scheduler-view>
        <jqx-scheduler-view type="TimelineWeekView"></jqx-scheduler-view>
        <jqx-scheduler-view type="TimelineMonthView" ></jqx-scheduler-view>
    </jqx-scheduler-views>
</jqx-scheduler>

