.jqx-input {
    position: absolute;
    width: 110px;
    top: 170px;
    left: 145px;
    font-weight: bold;
    font-size: 48px !important;
    border: none !important;
    color: #00a644;
    text-align: center;
}
