.demo-horizontal-layout {
    display: flex;
    flex-direction: column;
}

.dark-mode .demo-icon {
    background-image: none;
}

label {
    font-size: 14px;
}

.demo-buttons-group {
    margin: 8px;
}

    .demo-buttons-group smart-button {
        margin: 8px;
    }

.button-demo-icon {
    position: relative;
    left: -5px;
}
