/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* ------------ */

#materialSplitterContainer {
    font-family: var(--smart-material-font-family); /* Roboto,sans-serif */
    line-height: 24px;
    font-size: 13px;
    background-color: #fafafa;
    padding: 25px;
    margin-left: 0;
    padding: 200px;
    padding-top: 50px;
}

    #materialSplitterContainer section h1 {
        border-top: 1px solid rgba(0,0,0,.12);
        width: calc(100% - 280px);
        padding-top: 80px;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 30px;
        color: #3949ab;
    }

    #materialSplitterContainer section:first-of-type h1 {
        font-size: 34px;
        border: none;
        padding-top: 0;
    }

    #materialSplitterContainer section:first-of-type div h1 {
        font-size: 20px;
    }

    #materialSplitterContainer section {
        margin-top: 80px;
    }

        #materialSplitterContainer section:first-of-type {
            margin-top: 0;
        }

        #materialSplitterContainer section div h1 {
            color: #212121;
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 30px;
            max-width: 940px;
        }

    #materialSplitterContainer nav {
        display: block;
        border-left: 5px #3949ab solid;
        padding-left: 20px;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        font: inherit;
        margin-top: 60px;
    }

        #materialSplitterContainer nav ul {
            list-style: none;
            margin-top: 0;
            padding-left: 0;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            display: block;
            list-style-type: disc;
        }

        #materialSplitterContainer nav li {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            font-size: 20px;
            line-height: 40px;
        }

            #materialSplitterContainer nav li a {
                text-decoration: none;
            }

        #materialSplitterContainer nav h1 {
            font-size: 15px;
            line-height: 16px;
            padding-bottom: 12px;
            font-weight: 400;
            color: #757575;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
        }

.module {
    width: calc(100% / 4);
    display: inline-block;
    font: inherit;
    margin-right: 40px;
    min-width: 365px;
    vertical-align: top;
}

    .module.img-holder {
        width: calc(100% / 3);
    }

    .module h3 {
        font-size: 13px;
    }

    .module p {
        margin-bottom: 20px;
    }

    .module img {
        width: 100%;
    }

    .module h2 {
        font-weight: 400;
    }

    .module.demo-splitter,
    .module.battery-usage,
    .module.news-paper {
        width: calc(100% / 2);
    }

        .module.demo-splitter smart-splitter smart-splitter-item {
            width: 33.3%;
        }


        .module.demo-splitter.dark smart-splitter.material smart-splitter-item > .smart-container {
            background-color: #333333;
            color: white;
        }

        .module.demo-splitter.dark,
        #splitterDemo .module:nth-of-type(3),
        .module.news-paper {
            margin-top: 50px;
        }


#usage .module.demo-splitter smart-splitter smart-splitter-item,
#splitterOrientation .module.demo-splitter smart-splitter smart-splitter-item {
    width: calc(50% - 5px);
    height: calc(50% - 5px);
}

#splitterOrientation .module.demo-splitter smart-splitter smart-splitter-item {
    width: calc(50% - 5px);
    height: calc(50% - 5px);
}

    #splitterOrientation .module.demo-splitter smart-splitter smart-splitter-item .smart-content {
        display: initial;
    }

#splitterResizeModes .module.demo-splitter smart-splitter smart-splitter-item {
    width: calc(25% - 7.5px);
    height: calc(25% - 7.5px);
}

#splitterResizeModes .notes * {
    color: white;
}

#splitterResizeModes .notes p.separator {
    margin: 0;
    padding-top: 0;
}

#splitterResizeModes .notes .separator {
    margin: 5px 0px 5px 0px;
}

#splitterOrientation smart-splitter-item .header-item {
    position: absolute;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
}

#splitterOrientation smart-splitter-item:first-of-type .header-item {
    background-image: url(../../images/components-mobile-view-4.png);
    background-size: 100% auto;
}

#splitterOrientation smart-splitter-item .header-item {
    background-image: url('../../images/components-mobile-view-2.png');
    background-size: 100% auto;
}

#splitterOrientation .feed-reader {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #FAFAFA;
    position: relative;
    overflow: hidden;
}

#splitterOrientation smart-splitter[orientation="horizontal"] smart-splitter-item:nth-of-type(2) .feed-reader:first-of-type {
    width: 250px;
    height: 265px;
}

    #splitterOrientation smart-splitter[orientation="horizontal"] smart-splitter-item:nth-of-type(2) .feed-reader:first-of-type smart-button {
        margin-top: 30px;
        width: 120px;
    }

#splitterOrientation smart-splitter[orientation="horizontal"] smart-splitter-item:nth-of-type(2) .feed-reader {
    width: 250px;
    height: 130px;
}

    #splitterOrientation smart-splitter[orientation="horizontal"] smart-splitter-item:nth-of-type(2) .feed-reader:nth-of-type(1),
    #splitterOrientation smart-splitter[orientation="horizontal"] smart-splitter-item:nth-of-type(2) .feed-reader:nth-of-type(2) {
        margin-top: 80px;
    }

#splitterOrientation smart-splitter[orientation="horizontal"] smart-splitter-item:nth-of-type(2) .feed-reader {
    margin-top: 0px;
}

#splitterOrientation smart-splitter.material[orientation="horizontal"] smart-splitter-item .header-item {
    background-size: 100% auto;
    background-image: url('../../images/splitter-material-horizontal-cover.png');
    background-repeat: no-repeat;
}

#splitterOrientation smart-splitter.material[orientation="horizontal"] smart-splitter-item:nth-of-type(2) .header-item {
    background-size: 100% 100%;
    background-image: url('../../images/splitter-material-horizontal-cover2.png');
    background-repeat: no-repeat;
    height: 70px;
}

#splitterOrientation smart-splitter[orientation="horizontal"] smart-splitter-item .feed-reader {
    width: 30%;
    height: auto;
    float: left;
    margin-top: 80px;
}

    #splitterOrientation smart-splitter[orientation="horizontal"] smart-splitter-item .feed-reader smart-button {
        width: 80px;
    }

#splitterOrientation smart-splitter-item:nth-last-of-type(1) .feed-reader h2 {
    -webkit-margin-before: 0;
}

#splitterOrientation smart-splitter-item:nth-last-of-type(1) .feed-reader p {
    -webkit-margin-after: 0;
}

#splitterOrientation smart-splitter-item:nth-last-of-type(1) .feed-reader smart-button {
    width: 120px;
}

#splitterOrientation .feed-reader:first-of-type {
    margin-top: 80px;
}

#splitterOrientation .feed-reader img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 20px;
    left: calc(100% - 95px);
    border-radius: 5px;
}

#splitterOrientation smart-splitter-item:nth-of-type(2) .feed-reader {
    height: 130px;
}


    #splitterOrientation smart-splitter-item:nth-of-type(2) .feed-reader:first-of-type {
        height: 190px;
    }

    #splitterOrientation smart-splitter-item:nth-of-type(2) .feed-reader img {
        width: 90px;
        height: 90px;
        left: calc(100% - 110px);
    }

#splitterOrientation .feed-reader h2 {
    margin-top: 40px;
}

#splitterResizeModes smart-card {
    display: block;
    margin: 0;
}

    #splitterResizeModes smart-card > .smart-container {
        overflow: hidden;
    }

    #splitterResizeModes smart-card.discover,
    #splitterResizeModes smart-card.discover2,
    #splitterResizeModes smart-card.discover3,
    #splitterResizeModes smart-card.discover4 {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 75%;
        background-color: #E9E9E9;
    }

#splitterResizeModes .discover {
    background-image: url(../../images/components-mobile-view-3-card-3.png);
}

#splitterResizeModes .discover2 {
    background-image: url(../../images/components-mobile-view-1-card-1.png);
}

#splitterResizeModes .discover3 {
    background-image: url(../../images/components-mobile-view-3-card-2.png);
}

#splitterResizeModes .discover4 {
    background-image: url(../../images/components-mobile-view-3-card-1.png);
}

    #splitterResizeModes .discover .content,
    #splitterResizeModes .discover2 .content,
    #splitterResizeModes .discover3 .content,
    #splitterResizeModes .discover4 .content {
        position: absolute;
        bottom: 0px;
        height: 62.5px;
        padding: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #splitterResizeModes .discover smart-button,
    #splitterResizeModes .discover2 smart-button,
    #splitterResizeModes .discover3 smart-button,
    #splitterResizeModes .discover4 smart-button {
        margin-top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 5px;
    }

        #splitterResizeModes .discover smart-button button,
        #splitterResizeModes .discover2 smart-button button,
        #splitterResizeModes .discover3 smart-button button,
        #splitterResizeModes .discover4 smart-button button {
            color: #555;
            border-radius: 50%;
        }

#splitterResizeModes .notes-1,
#splitterResizeModes .notes-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    grid-column: 1;
    background-color: #00BCD4;
    color: white;
    width: 100%;
    height: 100%;
}

#splitterResizeModes .notes-2 {
    background-color: #455A64;
}

#splitterResizeModes smart-splitter-item h1 {
    margin: 0px;
    padding: 15px;
    font-weight: 100;
    font-size: 24px;
    width: 100%;
    border: none;
    text-align: center;
}

#splitterResizeModes smart-splitter-item .material-icons {
    font-size: 24px;
}

#splitterResizeModes smart-splitter-item smart-button {
    margin-top: 20px;
}

#splitterResizeModes smart-splitter-item smart-check-box {
    width: 100%;
    height: 40px;
}

    #splitterResizeModes smart-splitter-item smart-check-box > .smart-container {
        justify-content: unset;
    }

    #splitterResizeModes smart-splitter-item smart-check-box .smart-input {
        width: 12px;
        min-width: 12px;
        height: 12px;
        min-height: 12px;
        margin-left: 10%;
        border-color: #d1d1d1;
    }

#splitterResizeModes smart-splitter-item > .smart-container {
    padding: 0;
    overflow: hidden;
}

#splitterResizeModes smart-splitter-item .separator {
    border-top: rgba(17, 17, 17, 0.067) solid 1px;
    padding: 5px 15px 0px 15px;
    margin: 5px 0px 0px 0px;
    font-size: 13px;
    position: relative;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#splitterResizeModes .module:nth-of-type(3),
#splitterResizeModes .module:nth-of-type(4),
#splitterResizeModes .module:nth-of-type(5),
#splitterResizeModes .module:nth-of-type(6) {
    margin-top: 50px;
}


#splitterResizeModes .module.demo-splitter smart-splitter {
    height: 250px;
}

#style .module.demo-splitter smart-splitter smart-splitter-item {
    width: 35%;
}

#style .module.demo-splitter.dark smart-splitter smart-splitter-item {
    width: 30%;
}

#usage .module.demo-splitter smart-splitter-item .smart-content p {
    height: 25px;
    width: 100%;
    background-color: gray;
    opacity: 0.25;
}

#usage .module.demo-splitter smart-splitter-item .smart-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#materialSplitterContainer section:first-of-type .module:first-of-type {
    width: calc(100% / 2 + 45px);
}

#materialSplitterContainer section:first-of-type .module:nth-of-type(4) {
    margin-top: 40px;
}

#materialSplitterContainer #usage .splitterUsage {
    width: calc(100% / 2 + 45px);
    height: 300px;
    margin-top: 50px;
    margin-bottom: 80px;
}

#materialSplitterContainer #style .dropDownListLightTheme {
    margin-top: 0;
}

#materialSplitterContainer #style .module:nth-of-type(3),
#materialSplitterContainer #splitterOrientation .module:nth-of-type(3),
#materialSplitterContainer #splitterOrientation .module:nth-of-type(4) {
    margin-top: 50px;
}

#materialSplitterContainer #style th {
    padding-left: 15px;
}

#materialSplitterContainer #style h1:first-of-type {
    border-top: 1px solid rgba(0,0,0,.12);
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
    color: #3949ab;
    padding-top: 80px;
    width: calc(100% - 280px);
}

#materialSplitterContainer smart-splitter {
    width: 100%;
}

#splitterDemo .module.battery-usage smart-splitter-item:nth-of-type(1) {
    width: 35%;
}

#splitterDemo .module.battery-usage smart-splitter-item:nth-of-type(2) > .smart-container {
    background-size: 100% auto;
    background-image: url(../../images/battery-usage.png);
    background-repeat: no-repeat;
    background-color: black;
}

#splitterDemo #batteryUsage smart-list-item > .smart-container .smart-list-item-container {
    width: 100%;
}

#splitterDemo #batteryUsage .material-icons {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splitterDemo #batteryUsage .primaryAction .material-icons {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    /*color: #009688;*/
}

#splitterDemo #batteryUsage smart-button {
    width: 30px;
    height: 30px;
}

#splitterDemo #batteryUsage .templateContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#splitterDemo #batteryUsage .primaryAction,
#splitterDemo #batteryUsage .secondaryAction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

#batteryUsage {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}

    #batteryUsage smart-list-item {
        padding: 10px;
        border-top: 1px solid #5d5b5b;
    }

    #batteryUsage .material-icons {
        font-size: 24px;
    }

.battery-usage smart-splitter-item:nth-of-type(1) > .smart-container {
    padding: 0;
}

.battery-usage smart-circular-progress-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    font-size: 20px;
}

    .battery-usage smart-circular-progress-bar > .smart-container,
    .battery-usage smart-circular-progress-bar .smart-label-container,
    .battery-usage smart-circular-progress-bar .smart-value-path {
        border: none;
    }

.battery-usage smart-circular-progress-bar {
    color: white;
}

    .battery-usage smart-circular-progress-bar .smart-value-path {
        stroke-width: 20%;
        stroke: #182f2f;
    }

#splitterDemo .module.news-paper smart-splitter-item {
    width: 25%;
    box-shadow: 0 0 5px 1px grey inset;
    border-radius: 2.5px;
}

    #splitterDemo .module.news-paper smart-splitter-item > .smart-container {
        box-shadow: none;
        background-color: rgba(192,192,192,0.2);
    }
