.jqx-chart-axis-text, 
.jqx-chart-label-text,
.jqx-chart-legend-text, 
.jqx-chart-axis-description, 
.jqx-chart-title-text, 
.jqx-chart-title-description {
  fill: #ffffff;
  color: #ffffff;
}

.myChart div {
  background-repeat: no-repeat;
  background-size: cover;
}
