<div style="font-size: 13px; font-family: Verdana; float: left">

    <jqxGrid #myGrid (onFilter)="myGridOnFilter($event)"
        [width]="getWidth()" [source]="dataAdapter" [columns]="columns" [ready]="ready"
        [sortable]="true" [filterable]="true" [autoshowfiltericon]="true"
        [updatefilterconditions]="updatefilterconditions" [updatefilterpanel]="updatefilterpanel">
    </jqxGrid>

    <div style="margin-top: 30px">
        <div style="width: 200px; float: left; margin-right: 10px">

          <jqxButton (onClick)="clearFilteringBtnOnClick()" [height]="25">Remove Filter</jqxButton>

          <jqxCheckBox (onChange)="filterBackgroundOnChange($event)" [height]="25" [checked]="true">Filter Background</jqxCheckBox>

          <jqxCheckBox (onChange)="filterIconsOnChange($event)" [height]="25">Show All Filter Icons</jqxCheckBox>

        </div>
        <div style="float: left">
          Event Log:

          <jqxPanel #myPanel [width]="300" [height]="80"></jqxPanel>

        </div>
    </div>
</div>