<jqxTreeGrid
             [width]="getWidth()"
             [source]="dataAdapter"
             [columns]="columns"
             [ready]="ready"
             #TreeGrid>
</jqxTreeGrid>

<div style="margin-top: 20px;">
  <div style="float: left;">
    <jqxButton #excelExport (onClick)="excelExportClick()">Export to Excel</jqxButton>
    <br />
    <br />
    <jqxButton #xmlExport (onClick)="xmlExportClick()">Export to XML</jqxButton>
  </div>
  <div style="float: left; margin-left: 10px;">
    <jqxButton #csvExport (onClick)="csvExportClick()">Export to CSV</jqxButton>
    <br />
    <br />
    <jqxButton #tsvExport (onClick)="tsvExportClick()">Export to TSV</jqxButton>
  </div>
  <div style="float: left; margin-left: 10px;">
    <jqxButton #htmlExport (onClick)="htmlExportClick()">Export to HTML</jqxButton>
    <br />
    <br />
    <jqxButton #jsonExport (onClick)="jsonExportClick()">Export to JSON</jqxButton>
  </div>
  <div style="float: left; margin-left: 10px;">
    <jqxButton #pdfExport  (onClick)="pdfExportClick()">Export to PDF</jqxButton>
  </div>
</div>