<script src="~/jqwidgets/jqxbuttons.js"></script>
<script src="~/jqwidgets/jqxnumberinput.js"></script>
@{
    ViewData["Title"] = "ASP .NET MVC NumberInput Example";
}
<label>Default Input</label>

<jqx-number-input spin-buttons="true" theme="@ViewData["Theme"]" width="300" height="25" ></jqx-number-input>
<label>Simple Input</label>

<jqx-number-input input-mode="simple" spin-buttons="true" theme="@ViewData["Theme"]" width="300" height="25"></jqx-number-input>
