.redLabel {
    fill: #FF0000;
    color: #FF0000;
    font-size: 11px;
    font-family: Verdana;
}

.greenLabel {
    fill: #89A54E;
    color: #89A54E;
    font-size: 11px;
    font-family: Verdana;
}
