@{
    ViewData["Title"] = "ASP .NET MVC DateTimeInput Example";
}
<label>Date Input</label>

<jqx-datetimeinput theme="@ViewData["Theme"]" width="300" height="25" ></jqx-datetimeinput>
<br /><label>Time Input</label>

<jqx-datetimeinput formatString="T" showTimeButton="true" theme="@ViewData["Theme"]" width="300" height="25"></jqx-datetimeinput>
<br /><label>Date/Time Input</label>

<jqx-datetimeinput formatString="F" showTimeButton="true" theme="@ViewData["Theme"]" width="300" height="25"></jqx-datetimeinput>
