@using jQWidgets.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ASP .NET MVC Rating Example";
}
<label>ASP .NET Core MVC Rating Tag Helper Example</label><br/><br/>
<jqx-rating theme="@ViewData["theme"]" value="3" width="200" height="35"></jqx-rating>