<div #jqxWidget style="font-size: 13px; font-family: Verdana; float: left;">
  <div>
    <span style="float: left; margin-top: 5px; margin-right: 4px;">Search for a City: </span>
    <input class="jqx-input" placeholder="Type a City name here" #searchField (keyup)="keyup($event)" type="text" style="height: 23px; float: left; width: 197px; margin-bottom: 10px;" />
  </div>
  <div style="clear: both;"></div>
  <jqxListBox #jqxListBox             
              [source]="dataAdapter"
              [displayMember]="'name'"
              [valueMember]="'countryName'"
              [renderer]="renderer"
              [height]="350"
              [width]="320">
  </jqxListBox>
</div>