<jqxTabs #jqxTabs
         (onTabclick)="tabclick($event)"
         [width]="getWidth()" [height]="200" [position]="'top'">
  <ul>
    <li style="margin-left: 30px;">Node.js</li>
    <li>JavaServer Pages</li>
    <li>Active Server Pages</li>
  </ul>
  <div id="content1">
    <img src='./../../../images/ajax-loader.gif' />
  </div>
  <div id="content2">
    <img src='./../../../images/ajax-loader.gif' />
  </div>
  <div id="content3">
    <img src='./../../../images/ajax-loader.gif' />
  </div>
</jqxTabs>