<jqxChart #myChart class="myChart" 
  (mousemove)="myChartOnMousemove($event)" (click)="myChartOnClick($event)"
  [width]="850" [height]="500"
  [title]="'Custom labels, grid lines and tick marks offsets'" 
  [description]="'This example demonstrates how to use labels, tick marks and grid lines at custom offsets'"
  [enableAnimations]="false" [padding]="padding"
  [titlePadding]="titlePadding" [source]="sampleData" [xAxis]="xAxis"
  [valueAxis]="valueAxis" [seriesGroups]="seriesGroups">
</jqxChart>

<div #eventText style="width:600px; height: 30px"></div>