<div style='margin-top: 20px'>
    <jqxButton #button [width]='120' [height]='40' (onClick)="buttonClicked()">
        Button
    </jqxButton>
</div>
<div style='margin-top: 20px'>
    <jqxButton #submitButton [width]='120' [height]='40' (onClick)="submitButtonClicked()">
        Submit
    </jqxButton>
</div>
<div style='margin-top: 20px'>
    <jqxButton #imageButton [width]='120' [height]='40' 
        [imgSrc]='"./../../../images/facebook.png"' (onClick)="imageButtonClicked()">
    </jqxButton>
</div>
<div style='margin-top: 20px'>
    <jqxButton #textImageButton [width]='120' [height]='40'
        [textImageRelation]='"imageBeforeText"' [textPosition]='"left"' [imgSrc]='"./../../../images/twitter.png"'
        (onClick)="textImageButtonClicked()">
        Button
    </jqxButton>
</div>
<div style='margin-top: 20px'>
    <jqxButton #htmlButton [width]='120' [height]='40' (onClick)="hTMLButtonClicked()">
        <span style='font-weight: bold;'>HTML Button</span>
    </jqxButton>
</div>
<div style='margin-top: 20px'>
    <jqxButton #disabledButton [width]='120' [height]='40' [disabled]='true'>
        Disabled
    </jqxButton>
</div>
<div style='margin-top:1em'>Events:</div>
<div #events></div>
