
@{
    ViewData["Title"] = "ASP .NET MVC Link Button Example";
}
<label>ASP .NET Core MVC Link Button Tag Helper Example</label><br/><br/>
<jqx-linkbutton width="200px" height="25px" theme="@ViewData["Theme"]" target="_blank" href="http://www.jqwidgets.com">Link Button</jqx-linkbutton>