@{
    ViewData["Title"] = "ASP .NET MVC ColorPicker Example";

}
<label>ASP .NET Core MVC ColorPicker Example</label><br/><br/>
<jqx-colorpicker height="250" width="250" theme="@ViewData["Theme"]"></jqx-colorpicker>
