<script src="~/jqwidgets/jqxdockpanel.js"></script>

<jqx-dock-panel width="300" height="300">
    <div id='first' dock='left' style='background: #486974;'>
        First Div
    </div>
    <div id='second' dock='top' style='height: 100px; background: #368ba7;'>
        Second Div
    </div>
    <div id='third' dock='right' style='background: #df7169;'>
        Third Div
    </div>
    <div id='fourth' style='background: #a73654;'>
        Fourth Div
    </div>
</jqx-dock-panel>