<div style="float: right; width: 600px;">

  <div id="header">

      <div id="toggleResponsivePanel"></div>

  </div>

  <jqxResponsivePanel
      [width]="250" [height]="'auto'" [collapseBreakpoint]="800" [autoClose]="false"
      [toggleButton]="'#toggleResponsivePanel'" [animationType]="'slide'" [animationDirection]="'right'">

      <img src="./../../../images/leo.jpg" />

      <br />

      <strong>Leo</strong> the Lion is one of the earliest recognized constellations.
      The Mesopotamians are known to have documented the 'lion' constellation. The Persians
      called it Ser or Shir; the Turks, Artan; the Syrians, Aryo; the Jewish, Arye; the
      Indians, Simha. These are all translated as 'lion.'

  </jqxResponsivePanel>

</div>