<jqxFormattedInput #myFormattedInput
    [width]="200" [height]="25" [radix]="'decimal'" [spinButtons]="false"
    [value]="330000" [decimalNotation]="'exponential'">
</jqxFormattedInput>

<div style="margin-top: 20px">
  <jqxButton style="float: left" (onClick)="getDecimal()" [width]="185">Get Decimal Value</jqxButton>
  <jqxButton style="margin-left: 5px; float: left" (onClick)="getExponential()" [width]="185">Get Exponential Notation</jqxButton>
  <br />
  <br />
  <jqxButton style="float: left" (onClick)="getScientific()" [width]="185">Get Scientific Notation</jqxButton>
  <jqxButton style="margin-left: 5px; float: left" (onClick)="getEngineering()" [width]="185">Get Engineering Notation</jqxButton>
</div>