smart-gantt-chart {
    width: 80%;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logContainer {
    width: 150px;
    height: 500px;
    overflow: auto;
}
