@{
    ViewData["Title"] = "ASP .NET MVC Complex Input Example";

}
<label>ASP .NET Core MVC Complex Input Example</label><br/><br/>
<jqx-complexinput theme="@ViewData["Theme"]" width="250" height="25"></jqx-complexinput>