<jqxTabs #tabs
         [height]="850" [width]="getWidth()" [initTabContent]="initTabContent">
  <ul>
    <li style="margin-left: 30px;">Tab 1</li>
    <li>Tab 2</li>
  </ul>
  <div class="jqx-hidescrollbars">
    <div class="jqx-hideborder" #splitter1>
      <div>
        Content 1.1
      </div>
      <div>
        Content 1.2
      </div>
    </div>
  </div>
  <div class="jqx-hidescrollbars">
    <div class="jqx-hideborder" #splitter2>
      <div>
        Content 2.1
      </div>
      <div>
        Content 2.2
      </div>
    </div>
  </div>
</jqxTabs>