<jqxPopover #popover
            [offset]="{ left: 0, top: -125 }"
            [isModal]="true"
            [arrowOffsetValue]="-240"
            [position]="'right'"
            [title]="'Employees'"
            [showCloseButton]="true"
            [selector]="'#container'">
  <div #employees></div>
</jqxPopover>
<div style="padding: 5px;">
  <div class="jqx-widget-header"  style="height: 800px; width: 140px; float: left; margin-top: 30px; border-width: 1px; border-style: solid; padding: 10px;" id="container">
    <jqxButton style="float: right; margin-top: 10px; padding: 8px 12px; border-radius: 6px;"
               [width]="120" [height]="55">View Employees</jqxButton>
  </div>
</div>