<jqxScheduler #scheduler
              [width]="getWidth()" [height]="600"
              [date]="date"
              [source]="dataAdapter"
              [showLegend]="true"

              [contextMenuCreate]="contextMenuCreate"
              [contextMenuItemClick]="contextMenuItemClick"
              [contextMenuOpen]="contextMenuOpen"
              [contextMenuClose]="contextMenuClose"

              [resources]="resources"
              [view]="1"
              [views]="views"
              [appointmentDataFields]="appointmentDataFields">
</jqxScheduler>