<br /><br /><br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

<label>Date Input</label>
<jqxDateTimeInput
    [width]="300" [height]="30" [dropDownVerticalAlignment]="'top'">
</jqxDateTimeInput>

<label>Time Input</label>
<jqxDateTimeInput 
    [width]="300" [height]="30" [dropDownVerticalAlignment]="'top'"
    [showCalendarButton]="false" [showTimeButton]="true">
</jqxDateTimeInput>

<label>Date/Time Input</label>
<jqxDateTimeInput
    [width]="300" [height]="30" [dropDownVerticalAlignment]="'top'"
    [showCalendarButton]="true" [showTimeButton]="true">
</jqxDateTimeInput>
